# {{ ansible_managed }}
{% if default_containers_config is defined -%}
    {%- set defaults = default_containers_config -%}
{%- else -%}
    {%- set defaults = {} -%}
{%- endif -%}

{%- if podman_containers_config is defined -%}
    {%- set config = podman_containers_config -%}
{%- else -%}
    {%- set config = {} -%}
{%- endif -%}

{%- set data = defaults | combine(config) %}

{% for section in ['containers', 'engine', 'network', 'machine', 'service_destinations', 'secret'] %}
{% if data[section] is defined %}
[{{ section }}]
{% for key, value in data[section].items() %}
{% if value is string %}
{{ key }} = "{{ value }}"
{% elif value is boolean %}
{{ key }} = {{ value | lower }}
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
