# {{ ansible_managed }}
{%
    set defaults = (
        (
            default_registries_config |
            default({})
        ) |
        combine(
                {'unqualified-search-registries': ['docker.io']}
                if podman_mimic_docker
                else {}
            ,
            recursive=true
        )
    )
%}
{% set config = podman_registries_config | default({}) %}

{%- set data = defaults | combine(config, recursive=true) %}

{% for key, value in data.items() %}
{% if value is string %}
{{ key }} = "{{ value }}"
{% elif value is boolean %}
{{ key }} = {{ value | lower }}
{% elif key != "registry" %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}

{% if data.registry is defined and data.registry | length %}
{% for registry in data.registry %}
[[registry]]
{% for key, value in registry.items() %}
{% if value is string %}
{{ key }} = "{{ value }}"
{% elif value is boolean %}
{{ key }} = {{ value | lower }}
{% elif key != "mirror" %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}
{% if registry.mirror is defined and registry.mirror|length > 0 %}
{% for mirror in registry.mirror %}
[[registry.mirror]]
{% for key, value in registry.mirror.items() %}
{% if value is string %}
{{ key }} = "{{ value }}"
{% elif value is boolean %}
{{ key }} = {{ value | lower }}
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
